<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}


<div class="container">
    <h2>Please login</h2>
    <form action="{% url 'accounts:user_login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Enter username" value="">
      </div>
      <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password" value="">
      </div>
      <input type="submit" class=" btn btn-primary" name="" value="Login">
      <br>
      <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
    </form>
</div>

{% endblock %}
