<!DOCTYPE html>
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body_block %}

<div class="container">
    <h2>Sign up as a {{ user_type }}</h2>

    <form method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {% if user.get_is_staff == True %}
          {{ form.username|as_crispy_field}}
          {{ form.email|as_crispy_field}}
      {% else %}
          {{ form|crispy}}
      {% endif %}
      <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</div>
{% endblock %}
