<!DOCTYPE html>
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body_block %}
<div class="container">
  <h2>Reset Password</h2>
  <form class="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary btn-lg">Send link</button>
  </form>
</div>
{% endblock %}
