{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
      {{staff.}}
      {% if not form.instance.pk %}
      New agent
      {% else %}
      Update agent
      {% endif %}
    </h1>
    <hr />

    <form class="form-group" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
          {{form.user|as_crispy_field}}
          {{form.unit|as_crispy_field}}

          {% if staff.profile_pic %}
              <img src="{{staff.profile_pic.url}}" width=50px alt="">
          {% endif %}
          {{form.profile_pic|as_crispy_field}}
      <a class="btn btn-secondary btn-lg" href="{% url 'crm:staff_list' %}">Cancel</a>
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>

  </div>

{% endblock %}
