<!DOCTYPE html>
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body_block %}

<div class="container">
    <h2>Invite a new staff</h2>
    <hr />
    <form method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
          {{ form.first_name|as_crispy_field}}
          {{ form.last_name|as_crispy_field}}
          {{ form.username|as_crispy_field}}
          {{ form.phone|as_crispy_field}}
          {{ form.email|as_crispy_field}}
      <button type="submit" class="btn btn-success">Invite</button>
      <a class="btn btn-secondary" href="{% url 'crm:staff_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
