{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
      Update time parameters
    </h1>
    <hr />

    <form class="form-group" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      
      {{form|crispy}}

      <a class="btn btn-secondary btn-lg" href="">Cancel</a>
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>

  </div>

{% endblock %}