<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <hr />
    <h2>Update appointment</h2>
    <h5>{{appointment.appointment_time}} at {{appointment.unit}}</h5>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{form.appointment_time|as_crispy_field}}
        {{form.staff|as_crispy_field}}
        {{form.appointment_type|as_crispy_field}}
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'schedule:appointment_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
