{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <h1>Cancel appointment</h1>
    <hr />
    <form method="POST">
      {% csrf_token %}
      <p>Are you sure you want to cancel the appointment at <strong>{{object.unit}}</strong> scheduled on <strong>{{object.appointment_time}}</strong>?</p>
      <textarea class="form-control" name="reason" style="min-width: 100%" maxlength="250" placeholder="Add an optional reason"></textarea>
      
      <div class="d-flex justify-content-center">
        <input class="btn btn-danger btn-block" type="submit" name= "confirm" value="Cancel appointment">
        {% if user.is_authenticated %}
        <a class="btn btn-secondary btn-block" href="{% url 'schedule:appointment_list' %}">Nevermind</a>
        {% endif %}
      </div>


    </form>
  </div>
  
{% endblock %}
