{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Availability
{% endblock %}

{% block body_block %}

<div class="container">
    <form method="post">
      <div class="form-group">
          <div class="container-form">
              {% csrf_token %}
              <h1>{{user.is_manager}}</h1>
              {% if form.instance.pk %}
                  <h3 class="center">{{ form.instance.start_time }}</h3>
              {% else %}
                  <h3 class="center">{{selected_date}}</h3>
              {% endif %}

              {{ form.staff | as_crispy_field }}
              {{ form.unit | as_crispy_field }}
              {{ form.start_time | as_crispy_field }}
              {{ form.end_time | as_crispy_field }}
              <input id="selected_date" type="hidden" name="selected_date" value="{{selected_date}}">
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn btn-primary"> Submit </button>
              {% if form.instance.pk %}
                  <a href="{% url 'schedule:availability_delete' pk=availability.pk %}" class="btn btn-danger"> Delete </a>
              {% endif %}
              <a class="btn btn-secondary" href="{% url 'schedule:calendar' %}"> Cancel </a>
          </div>
    </form>
</div>
{% endblock %}
