{% extends 'base.html' %}

    {% block body_block  %}
      <div class="container">
        <h1>Delete availability</h1>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <p>Are you sure you want to remove <strong>{{object}}</strong> from your staff?</p>
          <input class="btn btn-danger" type="submit" value="Confirm">
          <a class="btn btn-secondary" href="{% url 'schedule:availability_edit' pk=availability.pk %}">Cancel</a>
        </form>
      </div>
    {% endblock %}

  </body>
</html>
