{% extends 'base.html' %}

{% block body_block %}
<div class="container">
  <div class="clearfix">
	<a class="btn btn-primary left" href="{% url 'schedule:calendar' %}?{{ prev_month }}"> Previous Month </a>
  <a class="btn btn-primary right" href="{% url 'schedule:calendar' %}?{{ next_month }}"> Next Month </a>
</div>
  {{ calendar }}
</div>

{% endblock %}
