.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar a{
    display:block;
    text-decoration:none;
}

.calendar tr, .calendar td {
  border: 1px solid #d0d0d0;
}

.center{
  display: block;
  margin: 0 auto;
  /* text-align: center; */
  padding-bottom: 20px;
}

.flex{
  display:flex;
}

.container{
  display: block;
  margin: 0 auto;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #a8a8a8;
}

.calendar td {
  width: 100px;
  height: 110px;
  padding: 20px 0px 0px 5px;
}

.calendar td:hover{
  background: #fafafa;
  /* cursor: pointer; */
}

.month {
  font-size: 25px;
  color: red;
}

.date {
  font-size: 16px;
  color: #a8a8a8;

}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}




.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin: 10px;
}

.clearfix {
  margin: 15px;
  /* display: flex; */
}


.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}
