<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'rentq/dist/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <title>Schedule your viewing</title>
  </head>

  <body>
    <div id="background" class="section">
      <div class="snackbar">
          <span>Confirmation email sent. Check your spambox!</span>
          <!-- <img class="closeSnackbar" src="img/close.svg" alt=""> -->
          <span class="closeSnackbar">DISMISS</span>
      </div>
        <div class="content">
            <div class="white-container">
                <div class="branding-container">
                    <a class="branding" href="#">
                        <div class="branding-badge">
                          <div class="branding-powered-by">powered by</div>
                          <div class="branding-rentQ">RentQ</div>
                        </div>
                    </a>
                </div>

                <!-- HEADER -->
                <div class="heading-section">

                    <!-- <header class="logo-container">
                      <img class="logo" src="img/logo.svg" alt="">
                      <span class="logo-text">Rent A Place</span>
                    </header>

                  <div class="heading">
                      <img class="return-btn" src="img/arrow-left-blue.svg" alt="">
                      <h1 class="header-text">91 Stewart St</h1>
                      <div class="summary">
                          <div class="instruction-container">
                             <p class="instruction-label"></p>
                          </div>
                      </div>

                      <div class="progress-bar">
                          <div class="progress-blue"></div>
                          <div class="progress-label">20%</div>
                      </div>
                  </div> -->
                
                </div>

                <!-- LANDING PAGE -->
                <div class="landing-page">
                  
                    <!-- <div class="content-container">
                          <div class="queue-text">
                              <p>Below is a list of already scheduled open-houses for this property. Select a time that suits you, or schedule a private viewing.</p>
                          </div>
                          <div class="scrollbox small">

                              <div class="select-container-lg">
                                  <div class="select-item">
                                      <div class="date-queue">Sat, Oct 21</div>
                                      <div class="time-queue">3pm -5pm</div>
                                  </div>
                                  <div>
                                      <img src="img/chevron-right-grey.svg" alt="">
                                  </div>
                              </div>
                              <div class="select-container-lg">
                                <div class="select-item">
                                    <div class="date-queue">Sat, Oct 21</div>
                                    <div class="time-queue">3pm -5pm</div>
                                </div>
                                <div>
                                    <img src="img/chevron-right-grey.svg" alt="">
                                </div>
                              </div>
                              <div class="select-container-lg">
                                  <div class="select-item">
                                      <div class="date-queue">Sat, Oct 21</div>
                                      <div class="time-queue">3pm -5pm</div>
                                  </div>
                                  <div>
                                      <img src="img/chevron-right-grey.svg" alt="">
                                  </div>
                              </div>

                          </div>
                          <div class="more-times-container">
                            <span class="more-times-text">Private viewing</span>
                            <img class="chevron-icon-right" src="img/chevron-right-blue.svg" alt="">
                          </div>
                      </div> -->
                      
                  </div>





                <!-- DATELINE -->
                <div class="dateline-page">
                  <!-- <div class="mdc-text-field">
                      <input type="text" id="my-text-field" class="mdc-text-field__input">
                      <label class="mdc-floating-label" for="my-text-field">Hint text</label>
                      <div class="mdc-line-ripple"></div>
                  </div> -->
                <!-- <div class="dateline-container">
                    <label class="month-label">October 2019</label>
                    <ul class="dateline">
                          <li class="date-item-2">
                              <div class="day">M</div>
                              <div class="date circle">1</div>
                          </li>
                          <li class="date-item-3">
                              <div class="day">T</div>
                              <div class="date circle">2</div>
                          </li>
                          <li class="date-item-4">
                              <div class="day">W</div>
                              <div class="date circle">3</div>
                          </li>
                          <li class="date-item-5 ">
                              <div class="day">T</div>
                              <div class="date circle">4</div>
                          </li>
                          <li class="date-item-6 ">
                              <div class="day">F</div>
                              <div class="date circle today-date">5</div>
                          </li>
                          <li class="date-item-7 ">
                              <div class="day">S</div>
                              <div class="date circle available">6</div>
                          </li>
                          <li class="date-item-8 ">
                              <div class="day">S</div>
                              <div class="date circle available">7</div>
                          </li>
                          <li class="date-item-9 ">
                              <div class="date circle available">8</div>
                          </li>
                          <li class="date-item-10 ">
                              <div class="date circle">9</div>
                          </li>
                          <li class="date-item-11 ">
                              <div class="date circle available">10</div>
                          </li>
                          <li class="date-item-12 ">
                              <div class="date circle available">11</div>
                          </li>
                          <li class="date-item-13 ">
                              <div class="date circle available">12</div>
                          </li>
                          <li class="date-item-14 ">
                              <div class="date circle">13</div>
                          </li>
                          <li class="date-item-15 ">
                              <div class="date circle available">14</div>
                          </li>
                    </ul>
                </div> -->
              </div>

                <!-- MORE TIMES -->
                <!-- <div class="more-times-container">
                  <span class="more-times-text">More times</span>
                  <img class="chevron-icon-right" src="img/chevron-right-blue.svg" alt="">
                </div> -->

                <!-- TIMELINE -->
                <div class="timeline-page">
                    <!-- <ul class="timeline">
                      <label class="date-label">Sat, Oct 21</label>
                      <li id="1" class="cell">
                        <div id="time-select-1" class="time-select-container">
                          <span class="time-text" id="time-text-1">08:30 am</span>
                        </div>
                        <div id="time-validate-1" class="time-validate-container">
                          <div class="time-confirm">
                            <span>Confirm</span>
                          </div>
                          <div class="time-cancel">
                            <span>Nevermind</span>
                          </div>
                        </div>
                      </li>
                      <li id="2" class="cell">
                        <div id="time-select-2" class="time-select-container">
                          <span class="time-text" id="time-text-2">08:45 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:00 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:15 am</span>
                        </div>
                      </li>

                      <li id="4" class="cell">
                        <div id="time-select-4" class="time-select-container">
                          <span class="time-text" id="time-text-4">09:30 am</span>
                        </div>
                      </li>
                      <li id="2" class="cell">
                        <div id="time-select-2" class="time-select-container">
                          <span class="time-text" id="time-text-2">08:45 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:00 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:15 am</span>
                        </div>
                      </li>

                      <li id="4" class="cell">
                        <div id="time-select-4" class="time-select-container">
                          <span class="time-text" id="time-text-4">09:30 am</span>
                        </div>
                      </li>
                      <li id="2" class="cell">
                        <div id="time-select-2" class="time-select-container">
                          <span class="time-text" id="time-text-2">08:45 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:00 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:15 am</span>
                        </div>
                      </li>

                      <li id="4" class="cell">
                        <div id="time-select-4" class="time-select-container">
                          <span class="time-text" id="time-text-4">09:30 am</span>
                        </div>
                      </li>
                      <li id="2" class="cell">
                        <div id="time-select-2" class="time-select-container">
                          <span class="time-text" id="time-text-2">08:45 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:00 am</span>
                        </div>

                      </li>
                      <li id="3" class="cell">
                        <div id="time-select-3" class="time-select-container">
                          <span class="time-text" id="time-text-3">09:15 am</span>
                        </div>
                      </li>
                    </ul>
                  </div> -->
                </div>



                <!-- /////// USERFORM /////// -->


                <div class="userform-page">
                    <!-- <form class="input-form" action="index.html" method="post">
                      <div class="input-container">
                          <div class="input-block">
                            <input type="text" name="firstname" value="" id="1" class="input-box" placeholder="First name" maxlength="40">
                            <img src="" id="validation-1" class="validation-icon" alt="">
                          </div>
                      </div>
                      <div class="input-container">
                          <div class="input-block">
                            <input type="text" name="lastname" value="" id="2" class="input-box" placeholder="Last name" maxlength="40">
                            <img src="" id="validation-2" class="validation-icon" alt="">
                          </div>
                      </div>
                      <div class="input-container">
                          <div class="input-block">
                            <input type="text" name="email" value="" id="3" class="input-box" placeholder="Email" maxlength="40">
                            <img src="" id="validation-3" class="validation-icon" alt="">
                          </div>
                      </div>
                      <div class="input-container">
                          <div class="input-block">
                            <input type="text" name="phone" value="" id="4" class="input-box" placeholder="Phone" maxlength="40">
                            <img src="" id="validation-4" class="validation-icon" alt="">
                          </div>
                      </div>
                      <hr class="divider-thin">
                      <div class="input-container">
                          <div class="label-block">
                            <label for="number-rooms">
                              <span>Number of rooms required</span>
                            </label>
                          </div>
                          <div class="input-block">
                            <select id="5" class="input-box grab" name="number-rooms">
                              <option value="" disabled selected>Select your option...</option>
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4</option>
                              <option value="">5+</option>
                            </select>
                            <img src="" id="validation-5" class="validation-icon" alt="">
                          </div>
                      </div>
                      <div class="input-container">
                          <div class="label-block">
                            <label for="term">
                              <span>Ideal length of stay</span>
                            </label>
                          </div>
                          <div class="input-block">
                            <select id="6" class="input-box grab" name="term">
                              <option value="" disabled selected>Select your option...</option>
                              <option value="">4 months</option>
                              <option value="">8 months</option>
                              <option value="">12 months</option>
                            </select>
                            <img src="" id="validation-6" class="validation-icon" alt="">
                          </div>
                      </div>
                      <hr class="divider-thin">
                      <div class="review-container">
                        <h2 class="review-label">Overview</h2>
                          <div class="review-address">
                              <img class="address-icon" src="img/location-marker.svg" alt="">
                              <span class="review-address-text">91 Stewart Street</span>
                          </div>
                          <div class="review-datetime">
                              <img class="datetime-icon" src="img/clock.svg" alt="">
                              <span class="review-datetime-text">Oct 10, 2019 @ 13h00</span>
                          </div>
                      </div>
                      <button type="button" name="button" class="btn-blue grab">Schedule viewing</button>
                    </form> -->
                </div>

                <!-- /////// HEADS UP! /////// -->
                <div class="disclaimer-page">
                    <!-- <div class="content-container">
                      <div class="condition-container">
                          <div class="condition">
                              <label class="checkbox-container">
                                  <input type="checkbox" checked="checked">
                                  <span class="checkmark"></span>
                              </label>
                              <div class="clause-container">
                                  <h3 class="title-clause">90-min notice</h3>
                                  <p class="text-clause">You will be contacted by phone and/or email <strong>90 minutes</strong> before your viewing to confirm your attendance. No confirmation, no viewing.</p>
                              </div>
                          </div>
                          <div class="condition">
                              <label class="checkbox-container">
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                              </label>
                              <div class="clause-container">
                                  <h3 class="title-clause">Cancellation</h3>
                                  <p class="text-clause">If you must cancel your viewing, make sure to do so at least <strong>1 hour</strong> in advance.</p>
                              </div>
                          </div>
                      </div>
                      <button type="button" name="button" class="btn-blue">Schedule viewing</button>
                    </div> -->
                </div>

                    <!-- /////// CONFIRMATION /////// -->

                <div class="confirmation-page">

                      <!-- <div class="confirmation-container">
                          <div class="confirmation-header">
                              <div id="map"></div>
                          </div>
                          <div class="agent-thumbnail-container">
                              <img class="agent-photo" src="img/agent.jpg" alt="">
                              <img class="agent-check" src="img/checkmark-green-circle.svg" alt="">
                          </div>
                          <div class="confirmation-top">

                              <h1 class="confirmation-header">Thanks for booking!</h1>

                              <p class="date-confirmation-text">You scheduled a viewing with <br> <strong>Katlyn</strong> on <strong>Nov 24, 2019</strong> at <strong>2 PM</strong></p>
                              <div class="address-confirmation-container">
                                    <img class="location-icon" src="img/location-marker.svg" alt="">
                                    <span class="address-confirmation-text">91 Stewart St</span>
                                    <img class="chevron-icon-right" src="img/chevron-right-blue.svg" alt="">
                              </div>
                          </div>
                          <div class="confirmation-footer">
                              <button type="button" name="button" class="btn-blue confirmation-btn">View more listings</button>
                              <span class="confirmation-contact">rent@rentaplacenow.com</span>
                          </div>
                      </div> -->



                    </div>
                </div>
            </div>
        </div>
    </div>
  <script type="text/javascript" src="{% static 'rentq/dist/js/bundle.js' %}"></script></body>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHWPdPN-MuSCn3s2lEiCYgs8pHVOJj0Vg&libraries=places&language=en"></script>
</html>
