<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHWPdPN-MuSCn3s2lEiCYgs8pHVOJj0Vg&libraries=places&language=en"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'registration/js/registration.js' %}"></script>
    <script src="{% static 'crm/js/crm.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="{% static 'css/schedule/css/style.css' %}">
    <title></title>
  </head>
  <body>
    <div class="" style="text-align:center">
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">RentQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'schedule:appointment_list' %}">Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'schedule:calendar' %}">My Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'crm:unit_list' %}">My properties</a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.is_manager %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'crm:staff_list' %}">My staff</a>
            </li>
            {% endif %}
            {% if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'crm:prospect_list' %}">Prospects</a>
            </li>
            {% endif %}
            <div style="display:flex; position: absolute; right:20px;">

                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'crm:staff_profile' pk=user.pk %}">Welcome, <strong>{{user.get_username}}</strong>!</a>
                  </li>
                      {% if user.is_manager %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'crm:settings_list' %}">Settings</a>
                      </li>
                      {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout'%}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:user_login'%}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:manager_signup'%}">Sign Up</a>
                  </li>
                  {% endif %}
            </div>

          </ul>
        </div>
      </nav>
    {% block body_block %}
    <!-- ####### THIS IS WHERE INHERITANCE TAGS WILL GO #### -->
    {% endblock %}

  </body>
</html>
