<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="heading">
          <h1>My Appointments</h1>
          <!-- <a class = 'btn btn-primary' href="{% url 'crm:unit_new' %}">+New property</a> -->
        </div>
        <hr/>
        
        {{user.timezone}}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              {% if user.is_manager %}
                    <th scope="col">Agent</th>
              {% endif %}
              
              <th scope="col">Unit</th>
              <th scope="col">Type</th>
              <th scope="col">Prospect</th>
              <th scope="col">Actions</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
            {% for j in appointments %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% if j.status %}
              <td><i class="fas fa-check-circle" style="color: #96c229; font-size: 1em;" ></i></td>
              {% else %}
              <td><i class="fas fa-circle" style="color: #F8CC07; font-size: 1em;"></i></td>
              {% endif %}
              <td>{{j.appointment_time}}</td>
              {% if user.is_manager %}
                    <td>{{j.staff}}</td>
              {% endif %}
              
              <td>{% if j.unit.unit_no %}{{j.unit.unit_no}}-{% endif %}{{j.unit}}</td>
              <td>{{j.appointment_type}}</td>
              <td>
                <a href="{% url 'crm:prospect_profile' pk=j.prospect.pk %}">{{j.prospect}}</a>
              </td>
              <td>
                <select class='actions' onChange="myAction(this.value, {{forloop.counter}})">
                  <option disabled selected>Select...</option>
                  <option id="edit-{{forloop.counter}}" value="{% url 'schedule:appointment_update' pk=j.pk %}">Edit</option>
                  <option id="cancel-{{forloop.counter}}" value="{% url 'schedule:appointment_delete' pk=j.pk %}">Cancel</option>
                  <option id="send_reminder-{{forloop.counter}}" value="{% url 'schedule:reminder_send' pk=j.pk %}">Send reminder</option>
                  <option id="send_rsvp-{{forloop.counter}}" value="{% url 'schedule:rsvp_send' pk=j.pk %}">Send RSVP</option>
                  <option id="rsvp-{{forloop.counter}}" value="{% url 'schedule:rsvp' pk=j.pk %}">Toggle status</option>
                </select>
              </td>
              <td>
                <div id='loader-{{forloop.counter}}' class="loader" style='visibility:hidden'></div>
              </td>
            </tr>
    
            {% endfor %}
          </tbody>
        </table>
      </div>

      <style>
        .loader {
          border: 5px solid #f3f3f3; /* Light grey */
          border-top: 5px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 24px;
          height: 24px;
          animation: spin 2s linear infinite;
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      </style>

      <script>
        function myAction(link, id){
          window.location.href = link
          document.getElementById('loader-' + id).style.visibility = 'visible'
        }

      </script>

{% endblock %}
