<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="heading">
      <h1>Availability</h1>
      <h2>{{availabilities.staff}}</h2>
      <a class = 'btn btn-primary' href="{% url 'crm:availability_new' %}">+Availability</a>
    </div>
    <hr/>
    {% if availabilities %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Staff</th>
          <th scope="col">Assignment</th>
          <th scope="col">From</th>
          <th scope="col">Until</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for availability in availabilities %}
        <tr>
          <td>{{availability.staff.pk}}</td>
          <td>{{availability.staff}}</td>
          <td>{% for j in availability.unit.all %}
                {{j}},
              {% endfor %}</td>
          <td>{{availability.start}}</td>
          <td>{{availability.end}}</td>
          <td>
            <a href="{% url 'crm:availability_edit' pk_alt=availability.pk pk=availability.staff.pk %}">Edit</a> |
            <a href="{% url 'crm:availability_delete' pk_alt=availability.pk pk=availability.staff.pk %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class='empty'>Staff does not have any availability</p>
  {% endif %}
  </div>
{% endblock %}
