<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    {% if user.is_authenticated and user.is_staff %}
      <h1>Welcome, staff!</h1>
    {% elif user.is_authenticated and user.is_manager %}
      <h1>Welcome, manager!</h1>
    {% endif %}
  </div>
{% endblock %}
