{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
<div class="container">
  <div class="heading">
    <h1>Instructions</h1>
    <a class = 'btn btn-primary' href="{% url 'crm:instruction_new' %}">+New instruction</a>
  </div>
  <hr/>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for instruction in instructions %}
        <tr>
          <td>{{instruction.pk}}</td>
          <td>{{instruction.name}}</td>
          <td>
            <a href="{% url 'crm:instruction_edit' pk=instruction.pk %}">Edit</a> |
            <a href="{% url 'crm:instruction_delete' pk=instruction.pk %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
