{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
      {% if not form.instance.pk %}
      New Instruction
      {% else %}
      Update Instruction
      {% endif %}
    </h1>
    <hr />
      <form class="form-group" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'crm:instructions_list' %}">Cancel</a>
      </form>
    </div>
  </div>

{% endblock %}
