{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
        Profile
    </h1>
    <hr />
    {% if user.manager.logo %}
        <img src="{{user.manager.logo.url}}" width=50px alt="">
    {% endif %}
    <form class="" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
      <a class="btn btn-secondary" href="{% url 'crm:settings_list' %}">Cancel</a>
    </form>

  </div>

{% endblock %}
