{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
      {% if not form.instance.pk %}
      New availability
      {% else %}
      Update availability
      {% endif %}
    </h1>
    <hr />
    <form class="" method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
      <a class="btn btn-secondary btn-lg" href="{% url 'crm:my_calendar_list' %}">Cancel</a>
    </form>

  </div>

{% endblock %}
