<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
  <div class="container">
    <div class="heading">
      <h1>My calendar</h1>
      <a class = 'btn btn-primary' href="{% url 'crm:my_calendar_new' %}?hello">+New availability</a>
    </div>
    <hr/>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Staff</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for availability in availabilities %}
        <tr>
          <td>{{availability.id}}</td>
          <td>{{availability.staff}}</td>
          <td>{{availability.start}}</td>
          <td>{{availability.end}}</td>
          <td>
            <a href="{% url 'crm:my_calendar_edit' pk=availability.pk %}">Edit</a> |
            <a href="{% url 'crm:my_calendar_delete' pk=availability.pk  %}">Delete</a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
