<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="heading">
          <h1>{{prospect.first_name}} {{prospect.last_name}}</h1>
        </div>
        <hr/>

        <div>
            <div>
                <h6>Phone:</h6>
                <span>{{prospect.phone}}</span>
            </div>
            <div>
                <h6>Email:</h6>
                {{prospect.email}}
            </div>
            <div>
                <h6>Occupation:</h6>
                {{prospect.occupation}}
            </div>
            <div>
                <h6>Ideal lease term:</h6>
                {{prospect.lease_term}} months
            </div>
            <div>
                <h6>Looking for:</h6>
                {{prospect.unit_size}}
            </div>
            <div>
                <h6>Has seen:</h6>
                {% for j in units_seen %}
                <p>{{j}}</p>
                {% endfor %}
            </div>
        </div>
          




        
      </div>

{% endblock %}
