<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
  <div class="container">
    <div class="heading">
      <h1>Prospects</h1>
    </div>
    <hr/>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for prospect in prospects %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{prospect.first_name}}</td>
          <td>{{prospect.last_name}}</td>
          <td>{{prospect.email}}</td>
          <td>{{prospect.phone}}</td>
          <td class="flex">
            <a class="action" href="{% url 'crm:prospect_profile' pk=prospect.pk %}">View details</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
