{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
        Settings
    </h1>
    <hr />
    <a href="{% url 'crm:manager_profile' pk=user.pk %}">Profile</a>
    <br>
    <a href="{% url 'crm:instructions_list' %}">Instructions</a>
    <br>
    <a href="{% url 'accounts:time_parameters' pk=user.pk %}">Time Parameters</a>

  </div>

{% endblock %}
