<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
  <div class="container">
    <div class="heading">
      <h1>My staff</h1>
      <a class = 'btn btn-primary' href="{% url 'accounts:staff_signup' %}">+New agent</a>
    </div>
    <hr/>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Agent</th>
          <th scope="col">Properties</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in staff %}
        <tr>
          <td>{{agent.pk}}</td>
          <td>{{agent.user}}</td>
          <td>
            {% for j in agent.unit.all %}
              {{j}} {% if not j.last %},{% endif %}
            {% endfor %}
          </td>
          <td>
            <a href="{% url 'crm:staff_edit' pk=agent.pk %}">Edit</a> |
            <a href="">View availability</a> |
            <a href="{% url 'crm:staff_delete' pk=agent.user_id %}">Delete</a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
