{% extends 'base.html' %}

{% block body_block %}
  <div class="container">
    <h1>Remove agent</h1>
    <hr />
    <form method="POST">
      {% csrf_token %}
      <p>Are you sure you want to remove <strong>{{object}}</strong> from your staff?</p>
      <input class="btn btn-danger" type="submit" value="Confirm">
      <a class="btn btn-secondary" href="{% url 'crm:staff_list' %}">Cancel</a>
    </form>
  </div>

{% endblock %}
