{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
        Profile
    </h1>
    <hr />
    {% if user.staff.profile_pic %}
        <img src="{{user.staff.profile_pic.url}}" width=50px alt="">
    {% endif %}
    <form class="form-group" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{form.profile_pic|as_crispy_field}}
      
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>

  </div>

{% endblock %}
