<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
  <div class="container">
    <div class="heading">
      <h1>My Properties</h1>
      <a class = 'btn btn-primary' href="{% url 'crm:unit_new' %}">+New property</a>
    </div>
    <hr/>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Unit</th>
          <th scope="col">Address</th>
          <th scope="col">Type</th>
          {% if user.is_manager %}
          <th scope="col">Agent</th>
          {% endif %}
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in units %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{unit.unit_no}}</td>
          <td>{{unit}}</td>
          <td>{{unit.appointment_type}}</td>
          {% if user.is_manager %}
          <td>
            {% for j in unit.staff.all %}
              {{j}} {% if not j.last %},{% endif %}
            {% endfor %}
          </td>
          {% endif %}
          <td class="flex">
            {% if user.is_manager %}
            <a class="action" href="{% url 'crm:unit_edit' pk=unit.pk %}">Edit</a> |
            <a class="action" href="{% url 'crm:unit_delete' pk=unit.pk %}">Delete</a> |
            <a class="action" href="{% url 'crm:unit_clone' pk=unit.pk %}">Clone</a> |
            {% endif %}
            <a class="calendarBtn action" id="calendarBtn-{{unit.pk}}" href="{% url 'crm:unit_calendar' pk=unit.pk %}" target="_blank">Calendar</a> | 
            <div class="copyContainer flex action">
              <button class="copyBtn" id="copyBtn-{{unit.pk}}">Link</button>
              <i id="check-{{unit.pk}}" class="fas fa-check" style="font-size: 0.8em; display: none;"></i>
            </div>       
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
