{% extends 'base.html' %}

{% block body_block %}
  <div class="container">
    <h1>Delete property</h1>
    <hr />
    <form method="POST">
      {% csrf_token %}
      <p>Are you sure you want to delete <strong>{{object}}</strong>?</p>
      <input class="btn btn-danger" type="submit" value="Confirm">
      <a class="btn btn-secondary" href="{% url 'crm:unit_list' %}">Cancel</a>
    </form>
  </div>

{% endblock %}
