{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">
    <h1>
      {% if not form.instance.pk %}
      New Property
      {% else %}
      Update Property {{user.manager}}
      {% endif %}
    </h1>
    <hr />
      <div id="map"></div>
      <form class="form-group" method="POST">
        {% csrf_token %}
        {{form|crispy}}

        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'crm:unit_list' %}">Cancel</a>
      </form>
    </div>
  </div>

{% endblock %}
