


.heading{
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.empty{
  color: #989898;
  text-align: center;
  margin-top: 50px;
  diplay: block;
}


#map{
  width: 100%;
  height: 300px;
}



/* My Properties */


.flex{
  display: flex;
}

.form-unit{
  width: 400px;;
}

.copyContainer{
  position: relative;
}

.fa-check{
  color: green;
  position: absolute;
  display: block;
  top: 5px;
  right: 0;
}

.copyBtn{
  color: #007bff;
  border: 0px solid white;
  background: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.copyBtn:hover {
  text-decoration: underline;
  cursor: pointer; 
}

.action{
  padding-left: 3px;
  padding-right: 3px;
}


