/* .container{
  background: red;
  position: relative;
}
 */


.heading{
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.empty{
  color: #989898;
  text-align: center;
  margin-top: 50px;
  diplay: block;
}

/* .btn{
  align-self: center;
  height: 50px;
} */

#map{
  width: 100%;
  height: 300px;
}

.flex{
  display: flex;
}

.form-unit{
  width: 400px;;
}